#bubble-legend-container{
    position: relative;
    left: 20%;
    display: inline-block;
    margin: 0 auto;
}

.legend-row rect{
    cursor: pointer;
    stroke-width: 2;
}

#select-all-container{
    display: inline-block;
    vertical-align: top;
}

#deselect-button{
    margin-top: 5px;
}

.wrapper-row-legend{
    margin-top: 10px;
}
