@font-face
{
    font-family: FontAwesome;
    src: url('../css/fontawesome-webfont.ttf');
}

.focus {
    overflow: hidden;
}

text.flip {
    font-size: 16;
    font-family: FontAwesome;
    cursor: pointer;
}

#bubble {
    width: 700px;
    height: 500px;
    display: inline-block;
}

.dot.selected {
    opacity: 1;
    stroke: yellow;
    stroke-width: 2px;
    filter: url(#dropshadow);
}

svg {
    overflow: hidden;
}


text {
    font: 10px sans-serif;
}

.dot {
    cursor: pointer;
    stroke: #000;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.label {
    fill: #777;
}

.hidden {
    opacity: 0;
}

.half-transparent {
    opacity: 0.3;
}

text.label {
    font-size: 14px;
}

.year.label {
    font: 500 196px "Helvetica Neue";
    fill: #ddd;
}

.year.label.active {
    fill: #aaa;
}

div.bubble-tooltip {
    position: absolute;
    text-align: center;
    width: 110px;
    height: 20px;
    padding: 2px;
    font: 13px sans-serif;
    background: #d8d5e4;
    border: 0px;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 #656565;
    pointer-events: none;
}

.zoom {
    cursor: default;
    fill: none;
    pointer-events: all;
    overflow:hidden;
}

#search {
 /*   margin-top: 50px;*/
    margin-left: 50px;
}

#search-box{
    margin-left: 50px;
    width: 500px;
}

.invisible {
    visibility: hidden;
}

.x.label, .y.label {
    cursor: pointer;
}