#bubble-legend-container{
    position: relative;
    margin-left: 40px;
    margin-top: 20px;
    left: 20%;
}

.legend-row rect{
    cursor: pointer;
    stroke-width: 2;
}

#select-all-container{
    display: inline-block;
    vertical-align: top;
}

#deselect-button{
    margin-top: 5px;
}