* {
    font-family: Roboto, sans-serif;
}

#filter-table {
    margin-top: 20px;
}

.center-view {
    text-align: center;
    /*extra height for scroll in large screen*/
    height: 1500px;
}

.left-panel {
    width: 950px;
    display: inline-block;
    border-right: 1px solid #e2e2e2;
}
.right-panel {
    display: inline-block;
}

#control {
    position: relative;
   /*padding: 20px;*/
    width: 400px;
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
    /*margin-top: 250px;*/
    margin-top: 275px;
}

#control-table {
    width:400px;
}

#control-table tr {
    height: 40px;
}

#control-table select{
    width:300px;
}