* {
    font-family: Roboto, sans-serif;
}

.navlist li a:active {
    color: #000000;
}
.navlist li a:visited {
    color: #000000;
}
.navlist li a:hover {
    color: #ff9933;
}

#control {
    position: relative;
   /*padding: 20px;*/
    width: 400px;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}

#control-table {
    width:400px;
}

#control-table tr {
    height: 40px;
}

#control-table select{
    width:300px;
}
